@{
    ViewData["Title"] = "Kişi Ekle";
}
<form action="/Users/Save" method="post">
    <div class="mb-3">
        <label class="form-label">Kategori Id</label>
        <input type="text" name="e_kategori_id" class="form-control">
        <label class="form-label">Kişi Adı Soyadı</label>
        <input type="text" name="e_adi_soyadi" class="form-control">
        <label class="form-label">Kişi Telefon</label>
        <input type="text" name="e_telefon" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>