@{
    ViewData["Title"] = "Kişi Düzenle";
}
<form action="/Users/Edit" method="post">
    <div class="mb-3">
        <label class="form-label">Adı Soyadı</label>
        <input type="text" name="e_adi_soyadi" class="form-control" value="@ViewBag.user.e_adi_soyadi">
        <label class="form-label">Telefon</label>
        <input type="text" name="e_telefon" class="form-control" value="@ViewBag.user.e_telefon">
    </div>
    <input type="hidden" name="ESKI_ID" value="@ViewBag.user.e_id" />
    @*<input type="hidden" name="e_kategori_id" value="@ViewBag.user.e_kategori_id" />*@
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>