@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_blank.cshtml";
}

<form action="/Auth/DoLogin" method="post">
    @if (ViewBag.message != null) { 
        <div class="alert alert-danger">@ViewBag.message</div>
    }
    <div class="mb-3">
        <label class="form-label">UserName</label>
        <input type="text" class="form-control" name="e_kullanici_adi">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="text" class="form-control" name="e_sifre">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>